# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

# === Virtual environment ===
venv/
env/
ENV/
.venv/
.Python

# === PyCharm ===
.idea/

# === OS files ===
.DS_Store
Thumbs.db

# === Logs and outputs ===
*.log
*.out

# === Jupyter Notebook Checkpoints ===
.ipynb_checkpoints/

# === Test coverage ===
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# === MyPy and Pyre ===
.mypy_cache/
.pyre/
